<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Hackathon da  madrugada</h1>
    </header>

    <main>
    <div class="loginContainer">
 <div class="logo">
        <img src="assets/logoCode.svg">

        
      </div>
        
        <form action="POST" class="loginForm">
          <h2>Começar o Desafio</h2>
         <div class="input-area">
            <div class="login-input-grups">
             <label for="" class="sr-only">ID da Equipe</label>
              <input name="username" type="text" placeholder="ID da Equipe">
             </div>
             <div class="login-input-grups">
                <hr>
                <a href="\register">Cadastrar equipe</a>
            </div>
          
           
           <button name = "submit" class="buttonSubmit" value="Login">submit</button>

         </div>
       </form>

      
    </div>
     

    </main>

</body>
</html>
