<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="script.js"></script>
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Hackathon da  madrugada</h1>
    </header>

    <main>
      <section class= "questions">
        <div class= "questionsContainer">
          A Fig. 21-12 mostra três pares de esferas iguais que são colocadas em contato e depois separadas. As
cargas presentes inicialmente nas esferas estão indicadas. Coloque os pares, em ordem decrescente, de
acordo (a) com o módulo da carga transferida quando as esferas são postas em contato e (b) com o
módulo da carga presente na esfera positivamente carregada depois que as esferas são separadas.
        
        
        </div>
        <div class= "questionsAction">
           <form action="" onsubmit="Form5.submit(event)">
                <button class="buttonSubmit buttonSubmitQuestion">Responder</button>
           </form>
           <button class="buttonDelete">Pular</button>
          
        </div>   
      </section>

       <section class= "questions">
        <div class= "questionsContainer">
          A Fig. 21-12 mostra três pares de esferas iguais que são colocadas em contato e depois separadas. As
cargas presentes inicialmente nas esferas estão indicadas. Coloque os pares, em ordem decrescente, de
acordo (a) com o módulo da carga transferida quando as esferas são postas em contato e (b) com o
módulo da carga presente na esfera positivamente carregada depois que as esferas são separadas.
        
        
        </div>
        <div class= "questionsAction">
           <form action="" onsubmit="Form5.submit(event)">
                <button class="buttonSubmit buttonSubmitQuestion">Responder</button>
           </form>
           <button class="buttonDelete">Pular</button>
          
        </div>   
      </section>


      <section class= "questions">
        <div class= "questionsContainer">
          A Fig. 21-12 mostra três pares de esferas iguais que são colocadas em contato e depois separadas. As
cargas presentes inicialmente nas esferas estão indicadas. Coloque os pares, em ordem decrescente, de
acordo (a) com o módulo da carga transferida quando as esferas são postas em contato e (b) com o
módulo da carga presente na esfera positivamente carregada depois que as esferas são separadas.
        
        
        </div>
        <div class= "questionsAction">
           <form action="" onsubmit="Form5.submit(event)">
                <button class="buttonSubmit buttonSubmitQuestion">Responder</button>
           </form>
           <button class="buttonDelete">Pular</button>
          
        </div>   
      </section>



      

    </main>

   <div class="modal-overlay5">
     
        <div class="modalDelete">
            <div class="actions">
                <a onclick="Modal5.close()" href="#">
                    <img  src="/assets/remove.svg" alt="Fechar">
                </a>
            </div>
            <div class="descriptions">
                <h2 class="titleAvaliation">Responder Pergunta</h2>
            </div>

          <div class="input-area">
            <div class="input-grups">
             <label for="" class="sr-only">Resposta:</label>
              <input required name="answer" type="text" placeholder="Resposta da questão">
             </div>

           
           <div class="input-grups">
             <label for="" class="sr-only">Link do replit:</label>
              <input required name="answer" type="text" placeholder="Resposta do código">
            </div>
              
        
            <footer>
                <button onclick="Modal5.close()" class="buttonSubmit" for = "createQuestionForm" form="createQuestionForm" >Salvar</button>
            </footer>
            <form method="post" name = "answerQuestionForm="deleteSquadForm</form>
   
           </div>
      </div> 
      
    </div>
    

</body>
</html>
