/*Resetes*/
html, body {
    /*1 rem == 16 px*/
    font-size: 62.5%; /*10px*/
    margin: 0;
    width: 100vw;
    padding: 0;
    box-sizing: border-box;
    background: #131D39;
    color:#DEDEDE;
    font-family: 'Roboto', sans-serif;   
    text-decoration: none;
    list-style: none;

  }

header{
    background: rgba(10, 20, 30, 0.37);
    width: 100vw;
    height: 10rem;

}
body{

    display: flex;
    flex-direction: column;
    align-items: center;
}
main{

    width: 80vw;
    display: flex;
    background: #131D39;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

section {
    background: #2B2C31;
    display: flex;
    width: 80vw;
    align-items: center;
    padding-top: 1rem;
    justify-content: center;
    flex-direction: column;
    font-size: 1.8rem;
  border-radius: 0.5rem;
}

.questions{
  padding: 3rem 3rem 3rem 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start ;
  margin-top: 2.7rem;
  
  
}

.questionsContainer{
   margin-bottom: 2.7rem;

  
}

.questionsAction{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
}

.loginContainer{
  margin-top: 6rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content:space-around;
  align-items: center ;
}


.loginForm{
  border-radius: 0.5rem;
    background: #2B2C31;
    display: flex;
    width: 40rem;
    height: 45.8rem;
    align-items: center;
    padding-top: 1rem;
    justify-content: center;
    flex-direction: column;
    font-size: 1.8rem;
}

 

section .container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border-radius: 2rem;

}

h1,h2{
  margin-left: 1rem;
    font-size: 3.4rem;
}

.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #363B46;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    height: 5rem;
    margin-bottom: 1rem;
    width: 75vw;
    border-radius: 0.25rem;
}

.buttonDelete{
    background: #871313;
    outline: none;
    border: none;
    font-weight: 400;
    color: white;
    height: 3.6rem;
    width: 9rem;
    border-radius: 1rem;

}

.buttonSubmit{
  margin-bottom: 1rem;
    background: #37723D;
    outline: none;
    border: none;
    font-weight: 400;
    color: white;
    height: 3.6rem;
    width: 11rem;
    border-radius: 1rem;

}

.buttonSubmitQuestion{
  margin-right: 1rem;
  margin-bottom: 0rem;
}
footer .footerProps{
    height: 10rem;
    width: 100vw;
    margin-top: 5rem;
    background: #131D39;
}

/*________________Modal__________________*/
.modal-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
}
.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}
.modal-overlay p{
  font-size: 1.4rem;
}

.modalDelete{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 50rem;
  height: 40rem;
    background: #2B2C31;
    
}

.modal-overlay > .actions{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.actions>a> img{
  margin-top: 2rem;
  margin-right: 1rem;
    width: 3rem;
    height: 3rem;
    
    border-radius: 3rem;
  }

.actions > a{
  width: 50rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
  

.input-grups{
    outline: black;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.login-input-grups{
    outline: black;
    margin-bottom: 2.7rem;
    border-radius: 0.5rem;
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.login-input-grups label {
    margin-bottom: 2.7rem;
}

.demo-file::file-selector-button {
	border: 2px solid #555555;
	color: #555555;
	padding: 8px;
	border-radius: 2.7rem;
	background-color: #ffffff;
}

.loginForm input{
  width: 23vw;
}
input[type="file"]{
  color: white;
  border-radius: 0.25rem;
  width: 25rem;}
.demo-file::file-selector-button:hover {
	background-color: #e9e9e9;
}

.login-input-grups-label label {
  
  position: absolut;
    margin-bottom: 2.7rem;
}
.login-input-grups-label{
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 2.7rem;
  margin-bottom: 2.7rem;

}


.login-input-grups input{
  width: 30.7rem;
  height: 3rem;
  border: none;
  outline: none;
  border-radius: 2.5rem;
}
.input-grups input{
  width: 30.7rem;
  height: 3rem;
  border: none;
  outline: none;
  border-radius: 2.5rem;
}
.titleAvaliation{
  font-size: 3.4rem;
}
#deleteQuestion{
  margin-top: 1rem;
}


/* MODAL 2 */
.modal-overlay2{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
}
.modal-overlay2.active {
    opacity: 1;
    visibility: visible;
}
.modal-overlay2 p{
  font-size: 1.6rem;
}
.modal-overlay2 > .actions{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#deleteSquad{
  margin-top: 1rem;
}
/* MODAL 03*/

.modal-overlay3{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
}
.modal-overlay3.active {
    opacity: 1;
    visibility: visible;
}
.modal-overlay3 p{
  font-size: 1.6rem;
}
.modal-overlay3 > .actions{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


/* MODAL 04*/

.modal-overlay4{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
}
.modal-overlay4.active {
    opacity: 1;
    visibility: visible;
}
.modal-overlay4 p{
  font-size: 1.6rem;
}
.modal-overlay4 > .actions{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* MODAL 04*/

.modal-overlay5{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
}
.modal-overlay5.active {
    opacity: 1;
    visibility: visible;
}
.modal-overlay5 p{
  font-size: 1.6rem;
}
.modal-overlay5 > .actions{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


@media only screen and (max-width: 1100px) {

  .loginContainer img{
    display:none;
  }

}